@font-face {
    font-family: "Caveat";
    src: url(../assets/fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Caveat Medium";
    src: url(../assets/fonts/Caveat-Medium.ttf);
}



body {
    background-image: url(../assets/fondos/fondo1.webp);
    background-attachment: fixed;
    background-size: cover;
}

.tituloMain {
    text-decoration: none;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}

.titulop{
    font-size: 100px;
    color: black;
    font-family: Caveat; /* Cambié "caveat" a "Caveat" con mayúscula */
}

.imgTextCarrusel{
    font-family: caveat; 
    font-size: 30px; 
    color: black; 
    text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff, 1px 1px #ffffff, -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff, -0.5px 0.5px 0 #ffffff;
}

/* 
.containerCarrusel{
    padding-bottom: 5em;
} */

.listaMain{
  list-style: none;  
}

.listaMain {
    text-decoration: none;
    font-family: 'Caveat';
    font-size: 25px;
    background-color: rgba(167, 83, 0, 0.5);
    border-radius: 7px;
    color: black;
    padding: 13px;
    
}

.listaMain a {
    text-decoration: none;
    color: black;
}


