.pieDePagina{
    margin-top: 4em;
    width: 100%;
    margin-left: 0;
    background-color: rgba(167, 83, 0, 0.5);
}

.SeccionTitulo {
    text-align: center;
}

.SeccionRedes{
    text-align: center;   
}

.iconosRedes {
    width: 80px;
    height: 60px;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem;
    transition: transform 0.3s; /* Agregamos una transición para la propiedad "transform" */
}
    
.iconosRedes:hover {
    transform: scale(1.2); /* Escalamos el icono al hacer hover (puedes ajustar el valor según tus preferencias) */
}
    
.SeccionRedes a {
    text-decoration: none;
    margin: 1rem;
}

.SeccionLinks{
    text-align: center;  
}

.link{
    text-decoration: none; 
    font-family: Caveat-Semibold; 
    font-size: 27px; 
    color: black;
    margin-right: 1em;
}

.copyright{
    text-decoration: none; 
    font-family: Caveat-Bold; 
    font-size: 20px; 
    color: black;
    margin-right: 1em;
}

.titulo{
    text-decoration: none; 
    font-family: Caveat-Semibold; 
    font-size: 45px; 
    color: black;
}

p {
    margin-top: 10px;
    margin-bottom: -1em;
    padding-right: 10%;
    padding-left: 10%;    
}
