@font-face {
    font-family: "Caveat-Bold";
    src: url(../assets/fonts/Caveat-Bold.ttf);
}

@font-face {
    font-family: "Caveat-Medium";
    src: url(../assets/fonts/Caveat-Medium.ttf);
}

@font-face {
    font-family: "Caveat-Regular";
    src: url(../assets/fonts/Caveat-Regular.ttf);
}

@font-face {
    font-family: "Caveat-SemiBold";
    src: url(../assets/fonts/Caveat-SemiBold.ttf);
}

/* body {
    background-image: url(../assets/fondos/fondo2.webp);
    background-attachment: fixed;
    background-size: cover;
} */

.tituloMain {
    text-decoration: none;
    margin-bottom: 5em;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}

.titulop{
    font-size: 70px;
    color: black;
    font-family: Caveat-Bold; 
}


/* Estilos para las tarjetas */
/* Estilos para las tarjetas */

.card {
    border-radius: 5px;
    overflow: hidden;
    border: none;
    width: 130px;
    color: white;
	font-family: Caveat-Regular;
	font-size: 18px;
}

.card-body {
    text-align: center;
    height: 170px;
    background-size: cover;
    position: relative;
	
}

.text-container{
    font-family: Caveat-Regular;
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.2;
    max-height: 300px;  /* Puedes ajustar este valor según tus necesidades */
    overflow-y: auto;
}

#text-mesa {
    margin-bottom: 20px; /* Puedes ajustar el valor según tus preferencias */
}

.card-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);  /*Fondo oscuro semitransparente */
    opacity: 1  ; /* Hacemos que inicialmente sea completamente transparente */
    transition: opacity 0.3s; /* Agregamos una transición suave para la opacidad */
}

.card:hover .card-body::before {
    opacity: 0; /* Hacemos que la superposición sea visible al hacer hover */
}


/* Estilos para la barra lateral */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  /* Estilos para el botón de apertura/cierre de la barra lateral */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  /* Estilos para el contenido de la barra lateral */
  .sidebar-content {
    padding: 16px;
    color: white;
  }
  
  /* Estilos para el botón de cierre en la barra lateral */
  .closebtn {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
  }
  

