/* Estilos para el header */
.encabezado {
    background-color: rgba(167, 83, 0, 0.5) ; /* Color verde */
    padding: 60px 0; /* Añade un espacio interno al encabezado */
    text-align: center; /* Centra el texto horizontalmente */

    /* Estilos para hacer el texto siempre centrado verticalmente */
    display: flex;
    align-items: center;
}

/* Estilos para el texto del header */
.titulo_principal {
    text-decoration: none; 
    font-family: Caveat-Bold; 
    font-size: 100px;
    color: black;
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

.titulo_secundario {
    text-decoration: none; 
    font-family: Caveat-Bold; 
    font-size: 70px;
    color: black;
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

/* Estilos para hacer el encabezado responsive */
@media (max-width: 768px) {
    .encabezado {
        padding: 10px 0; /* Ajusta el espacio interno en dispositivos más pequeños */
    }
}

/* Añade separación entre el encabezado y el contenido debajo */
.container {
    margin-top: 20px; /* Puedes ajustar la cantidad de separación según tus preferencias */
}

.content-container{
    margin: 5vw;
}

.encabezado-container{
    margin-bottom: 5vw;
}